<form action="https://api.imgbb.com/1/upload" method="post">
    API: <input type="text" name="key" value="72a396b6aa35271c91e4e7514b33d4f7" />
    Image : <input type="text" name="image" value="{{ base64 }}" />
    nom : <input type="text" name="name" value="qr" />
    <p><input type="submit" value="OK"></p>
</form>