{% extends "back/index.html.twig" %}
{% block titre %}Image déscriptive{% endblock %}

{% block body %}
    <div align="center" style="width: 70%;">
        {% for demande in demandes %}
            <img src="{{  asset(demande.image) }}">
        {% endfor %}
    </div>
{% endblock %}